html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Card */
.card {

    border: 1px solid red;
}

.removed {
    visibility: hidden;
}

/* Board */
.board {
    display: grid;
    aspect-ratio: 1/ 1;
    max-height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;
}
.disabled {
    pointer-events: none;
}