html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Card */
.card {
    background-image: url('../public/cards/back/red.svg');
    background-size: contain;
    /* or 'cover' */
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity ease .5s;
    opacity: 1;
}

.removed {
    opacity: 0;
}

/* Board */
.board {
    display: grid;
    aspect-ratio: 3/4;
    margin: 16px;
    max-height: calc(100vh - 32px);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;
}
.disabled {
    pointer-events: none;
}